[submodule "Project-eBPF/ebpf-firewall"]
	path = Project-eBPF/ebpf-firewall
	url = https://github.com/nikofil/ebpf-firewall.git
[submodule "Project-eBPF/pulsar"]
	path = Project-eBPF/pulsar
	url = https://github.com/exein-io/pulsar.git
