[submodule "Project-eBPF/ebpf-firewall"]
	path = Project-eBPF/ebpf-firewall
	url = https://github.com/nikofil/ebpf-firewall.git
[submodule "Project-eBPF/pulsar"]
	path = Project-eBPF/pulsar
	url = https://github.com/exein-io/pulsar.git
[submodule "Project-eBPF/cilium"]
	path = Project-eBPF/cilium
	url = https://github.com/cilium/ebpf.git
[submodule "Project-eBPF/elastic"]
	path = Project-eBPF/elastic
	url = https://github.com/elastic/ebpf.git
[submodule "Project-eBPF/ebpfguard"]
	path = Project-eBPF/ebpfguard
	url = https://github.com/deepfence/ebpfguard.git
[submodule "Project-eBPF/lsmtrace"]
	path = Project-eBPF/lsmtrace
	url = https://github.com/lumontec/lsmtrace.git
[submodule "Project-eBPF/merbridge"]
	path = Project-eBPF/merbridge
	url = https://github.com/merbridge/merbridge.git
